<div class="jumbotron">
  <div class="container">
    <h1>Körtid till Smartgolfa & Unipeg banor</h1>

    <%= form_tag courses_path, :method => 'get' do %>
      <div class="form-group">
        <label class="control-label">Ange utgångspunkt för att få fram körtid samt vägbeskrivning.</label>
        <div class="input-group">
          <%= text_field_tag :from, params[:from], class: 'form-control', placeholder: 't.ex: Odengatan 21, Stockholm' %>
          <span class="input-group-btn">
            <%= submit_tag "Kör!", class: 'btn btn-primary' %>
          </span>
        </div>
      </div>
    <% end %>

    <small>För medlemskap och mer information: <a href="http://www.smartgolfa.se">http://www.smartgolfa.se</a> &bull; <a href="http://www.unipeg.se/">http://www.unipeg.se/</a></small>

  </div>
</div>

<div class="container">
  <% if @from %>
    <h5>Från: <%=@from%></h5>
    <ul class="list-group">
      <% for course in @courses %>
        <li class="list-group-item <%=course.provider%>">
          <% unless course.duration.nil? %>
            <span class="label label-warning pull-right">
              <%= course.distance %>
            </span>
            <span class="label label-info pull-right"><%= course.duration %></span>
          <% end %>
          <h3><%= course.name %></h3>

          <a href="<%= "https://www.google.com/maps/dir/#{@from}/#{course.address}"%>" target="_blank" class="pull-right btn btn-primary">Visa vägbeskrivning</a>

          <% unless course.weather_table.nil? %>
            <hr class="divider" />
            <h4>Golfväder</h4>
            <%= course.weather_table.html_safe %>
            <hr />
            <small>Data hämtat från: <strong>Golfväder.nu</strong>: <%= link_to course.weather_link, course.weather_link %></small>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="container">
  <div class="footer">
    <small><strong>OBS.</strong> Denna sida är inte associerad med SmartGolfa AB eller Uinpeg AB <br />De banor som är inlagda var de som var synbara <strong>2014-10-10</strong> på <a href="http://www.smartgolfa.se/anslutna-banor/">http://www.smartgolfa.se/anslutna-banor/</a> samt <a href="http://www.unipeg.se/vara-banor/">http://www.unipeg.se/vara-banor/</a>. <br />Hittar ni några felaktigheter får ni gärna höra av er till: <a href="mailto:kim@fransman.se">kim@fransman.se</a></small>
  </div>
</div>
